:root {
    cursor: url("cursor.png"),auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: minecraft, comic sans ms;
    text-shadow: 2px 2px #0003;
    animation: colorAnimationRGB 30s infinite;
    transition: background-color 30s ease;
    user-select: none;
}

myBody {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
}

.aboutText {
    font-size: 1.5em;
    text-align: center;
}

@keyframes colorAnimationRGB {
    0%,100% { background-color: hsl(0, 100%, 90%);}
    16.6% { background-color: hsl(43, 100%, 88%);}
    33.2% { background-color: hsl(61, 100%, 86%);}
    49.8% { background-color: hsl(127, 100%, 88%);}
    66.4% { background-color: hsl(208, 100%, 89%);}
    83% { background-color: hsl(300, 100%, 92%);}
}

#center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.card {
    width: 100px;
    height: 100px;
    margin: 20px;
    padding: 10px;
    background-color: #0002;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.card:hover{
    box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.3);
    transform: translate(-5px,-5px);
    transition: all 0.3s ease-in-out;
}

.card:active{
    box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.3);
    transform: translate(-5px,-5px);
    background-color: #0004;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card p{
    font-size: 20px;
}

.line{
    border: 2px solid #0003;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

@font-face {
    font-family: minecraft;
    src: url("Mojangles.ttf") format("opentype");
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #00000023; 
}
::-webkit-scrollbar-thumb {
    background: #0000002f; 
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {

    background: #00000043; 
}