@import url('./fonts/Quicksand.ttf');

body {
    font-family: "Quicksand", comic sans ms;
    text-shadow: 2px 2px #0003;
    animation: colorAnimationRGB 30s infinite;
    transition: background-color 30s ease;
    user-select: none;
    margin: 0;
    padding: 0;
}

body,
html {
    cursor: none;
}

svg#pointer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background: transparent;
}

.preview-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 9999;
    display: none;
}

.iframe-wrapper {
    cursor: pointer;
    position: relative;
    width: calc(100% - min(15vh, 15vw));
    height: calc(100% - min(15vh, 15vw));
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.iframe-wrapper iframe {
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: block;
    background-color: white;
}

.iframe-wrapper #close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: min-content;
    height: min-content;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.3);
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px rgba(255, 0, 0, 0.2);
    font-weight: bold;
    font-size: 1.2em;

    z-index: 2;
}

.my-body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
}

#small-text {
    font-size: 0.5em;
    font-weight: lighter;
}

.aboutText {
    font-size: 1.5em;
    text-align: center;
}

.word {
    display: inline-block;
    margin: 0 4px;
    white-space: nowrap;
}

@keyframes colorAnimationRGB {

    0%,
    100% {
        background-color: hsl(0, 100%, 90%);
    }

    16.6% {
        background-color: hsl(43, 100%, 88%);
    }

    33.2% {
        background-color: hsl(61, 100%, 86%);
    }

    49.8% {
        background-color: hsl(127, 100%, 88%);
    }

    66.4% {
        background-color: hsl(208, 100%, 89%);
    }

    83% {
        background-color: hsl(300, 100%, 92%);
    }
}

h1 span {
    display: inline-block;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 10px;
}

.card {
    width: 120px;
    height: 120px;
    margin: 20px;
    padding: 10px;
    padding: 0;
    background-color: #0002;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.3);
}

.card-holder {
    border-radius: 20px;
}

.card-holder.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.card p {
    font-size: 20px;
}

.line {
    border: 2px solid #0003;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    /*width*/
    width: calc(100% - 60px);
}

.scrollbar {
    position: fixed;
    right: 0;
    top: 0;
    width: 15px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.15);
    z-index: 9999;
}

.thumb {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    transition: background 0.3s ease;
}

.thumb:hover {
    background: rgba(0, 0, 0, 0.25);
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  scrollbar-width: none; /* Firefox */
}

html, body {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}

body::-webkit-scrollbar {
  display: none;             /* Chrome/Safari/Edge */
}
